<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    login
{% endblock %}
{% block body_block %}
    <div class="jumbotron p-1">
        <div class="container">
            <h2 class="h3">
                Login to Rango
            </h2>
        </div>
    </div>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log in" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p>
        Not a member?
        <a href="{% url 'registration_register' %}">Register</a>
    </p>
{% endblock %}