<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <h1> {{ category.name }}</h1>
{% endblock %}
{% block body_block %}
    {% if category %}
 	<div class="jumbotron p-4">
 	<div class="container">
  		<h1 class="jumbotron-heading">{{ category.name }}</h1>
    	<div class="p-1">
    	<strong id="like_count">{{ category.likes }}</strong> people like this category
    	{% if user.is_authenticated %}
    	    <button id="likes" data-catid="{{category.id}}"
    	        class="btn btn-primary btn-sm" type="button"> <span data-feather="thumbs-up"></span>
    	        Like
    	    </button>
    	{% endif %}
    	</div>
 	</div>
 	</div>
	<div class="container">
		<div class="row">
            <ul class="list-group">
                {% if pages %}
                    {% for page in pages %}
                        <li class="list-group-item">
                            <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                                {% if page.views > 1 %}
                                    ({{ page.views }} views)
                                {% elif page.views == 1 %}
                                    ({{ page.views }} view)
                                {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <strong>No pages currently in category.</strong>
                {% endif %}
            </ul>
        </div>
        <br/>
    </div>
    {% if user.is_authenticated %}
        <div class="container p=2">
	        <div class="row">
                <a href="{% url 'add_page' category.slug %}">Add a Page</a>
            </div>
        <br/>
        </div>
        <div class="container p=4">
            <div class="row">
                <form class="form-inline" id="user_form" method="post" action="{% url 'show_category' category.slug %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query" />
                    </div>
                    <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
                </form>
            </div>
        </div>
        <br />
        {% if result_list %}
            <div class="container p=4">
                <div class="row">
                    <h3>
                        Results
                    </h3>
                    <div class="list-group">
                        {% for result in result_list %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <a href="{{ result.link }}"> {{result.title|safe|escape}}</a>
                                    {% if user.is_authenticated %}
                                        <button data-catid="{{category.id}}" data-title="{{ result.title }}"
                                        data-url="{{ result.link }}"
                                        class="rango-add btn btn-info btn-sm" type="button">Add</button>
                                    {% endif %}
                                </h4>
                                <p class="list-group-item-text">{{result.summary|safe|escape}} </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
{% endblock %}