<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}
{% block body_block %}
<div class="jumbotron p-1">
    <div class="container">
        <h1 class="jumbotron-heading p-1">Rango says...</h1>
            <div>
                <h2 class="h2">
                {% if user.is_authenticated %}
                    Howdy {{ user.username }}!
                <p>visits: {{ visits }}</p>
                {% else %}
                    Hey there partner!
                {% endif %}
                </h2>
                    <strong>{{ boldmessage }} </strong>
            </div>
    </div>
</div>
        <h2>Most Liked Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'show_category' category.slug %}"> {{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present/</strong>
        {% endif %}
        <h2>Most viewed Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
                <a href="{{ page.url }}/"> {{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no page present/</strong>
        {% endif %}
        <img src ="{% static 'images/rango.jpg'%} "
             alt = "Picture of Rango" />
{% endblock %}